/***** GENERAL STYLING *****/
/* Body */
body {
    margin: 0%  
}

/* Heading 1 elements */
h1 {
    text-transform: uppercase; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    text-align: center; 
    margin-top: 2%; 
    color: #05186e; 
}

/* Heading 1 element hover effect */
h1:hover {
    filter: grayscale(5%); 
    transform: scale(1.1); 
    transition: transform .5s; 
}

/* Styling for portfolio title text */
.white-text {
    color: #fff; 
}

/* Paragraph elements */
p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify; 
    letter-spacing: 1px; 
    font-size: 18px;
    padding-left: 20px; 
    padding-right: 20px; 
}

/* Paragraph element hover effect */
p:hover {
    transition: transform .5s; 
	transform: scale(1.01); 
    transform-style: ease-in-out;
}

/* Center class - this applies to all elements with the class "center" */
.center {
    text-align: center; 
}

/* Center class hover effect - This only affects the quote, github link, and footer */
.center:hover {
    transition: transform 2s; 
    transform: scale(1.1); 
}

/* Anchor elements */
a {
    color: blue;
}

/* Quotation elements */
q {
    font-style: italic; 
}

/* Image elements */
img {
    /*  filter: grayscale(75%); This rids our pictures of 75% of their color */
    border-radius: 8px; 
    max-width: 100%; 
    height: 340px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

/* Image element hover effects */
img:hover {
    transition: transform 1s; 
	transform: scale(1.1); 
}



/* Styling for footer element */
footer {
    padding: 2%; 
    background-color: white;
}
/***** END OF GENERAL STYLING *****/

/***** NAVBAR STYLING *****/
.Navbar {
    overflow: hidden; 
    background-color: #05186ea1; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1; 
    -webkit-animation: moveNav 2s; 
    animation: moveNav 2s; 
}

/* moveNav animation effect for moving the nav bar in from the top of the screen */
@keyframes moveNav {
    from {top: -10vw;} 
    to {left: 0vw;}
}

/* Navbar links */
.Navbar a {
    float: left; 
    display: block;
    color: white;
    text-decoration: none; 
    font-family: Avant Garde, Helvetica; 
    font-size: 20px; 
    text-align: center; 
    position: relative; 
    -webkit-animation: moveNavText 2s;
    animation: moveNavText 2s; 
    padding: .5rem; 
}

/* moveNavText animation effect for moving the navbar text from above the view to the navbar */
@keyframes moveNavText {
    from {top: -10vw;} 
    to {top: 0vw;} 
}

/* Screens 576px and smaller will display navbar links equally distributed */
@media screen and (max-width: 768px) {
    .Navbar a{
        width: 25%; 
        font-size: 12px;
    }
}

/* Navbar hover effects */
.Navbar a:hover {
    background-color: #f4f4f4; 
    color: #05186e;
    font-weight: bold; 
}

/* Navbar home button */
.Navbar a.active { 
    background-color: darkgray;
}
/***** END OF NAVBAR STYLING *****/

/***** VIDEO STYLING *****/
/* Formatting for background video */
#Wave_Video {
    position: fixed; 
    right: 0; 
    bottom: 0; 
    min-width: 100%;
    z-index: -1; 
    filter: sepia(30%);
}

/* Screens that are 576px and smaller will not display the background video 
@media screen and (max-width: 576px) {
    #Wave_Video {
        display: none;
    }
}/*

/* Texts over the video */
.Video_Text {
    background: rgba(0, 0, 0, 0.05); 
    color: white;
    text-shadow: 2px 2px 5px #000;
    width: 100%; 
    padding: 150px; 
    position: relative; 
    /*-webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s; */
}

/* This animation effect causes the overlay video text to move up from the bottom of the page upon page load 
@keyframes moveVideoText {
    from {top: -100vw;}  This sets the position of the video text to above the viewport 
    to {top: 0vw;}  This moves the video text to the normal positioning on the viewport */

/***** END OF VIDEO STYLING *****/

/***** TABLE STYLING -  this section covers the styling of the columns and rows within the table *****/
* { 
    box-sizing: border-box;
} 

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container-reverse {
    display: flex;
    flex-wrap: wrap-reverse;
}

.Column_1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0%;
    height: 360px;
    background-color: #fffef9;
    justify-content: center;
    align-items: center;
}

/* Screens 576px and smaller will display a scroll bar if the text overflows the column height */
@media screen and (max-width: 768px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_2 {
    display: flex;
    width: 100%;
    padding: 0%;
    height: 360px;
    background-color: #fffaf1;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .flex-container > * {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .flex-container-reverse > * {
        width: 50%;
    }
}

.Column_tall {
    padding-top: 1%;
    height: 385px;
}

.sepia {
    filter: sepia(25%);
}

.sepia:hover {
    filter: sepia(25%);
}



/***** CONTACT FORM STYLING *****/
input[type=text] {
    width: 100%;
    font-size: medium;
    padding: 6px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
    font-family: Perpetua, Rockwell Extra Bold;
}

/* Hover effects for input boxes */
input[type=text]:hover {
    box-shadow: 0 0 3px #05186e inset; 
}

/* Submit button */
input[type=submit] {
    background-color: #05186e;
    color: white; 
    font-weight: bold; 
    padding: 12px 20px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    font-family: Perpetua, Rockwell Extra Bold;
}

/* Hover effect for submit button */
input[type=submit]:hover {
    background-color: white; 
    color: #05186e; 
    transform: scale(1.1); 
    transition: transform .5s; 
    border: 1px solid #05186e;
}

/* Form element */
form {
    border-radius: 5px; 
    background-color: #fffaf1; 
    padding: 10px; 
    font-family: Avant Garde, Helvetica;
    margin-left: 1rem;
    margin-right: 1rem;
}
/***** END OF CONTACT FORM STYLING *****/